@import '../../styles/mixins.less';

.websiteTitle{
    font-size: 15px;
}

.home-app {
    .menus{
        text-align: center;
        display: inline;

        li{
            display: inline;
            margin-right: 10px
        }
    }
}
